<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid text-center">
        <h1>Lista de Habitaciones</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>TV</th>
                    <th>CAFETERA</th>
                    <th>MINIBAR</th>
                    <th>TIPO HABITACION</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>

            <th:block th:each="habi:${habitaciones}">
                <tr>
                    <td th:text="${habi.getId_habitacion()}"></td>
                    <td th:text="${habi.getTv()}"></td>
                    <td th:text="${habi.getCafetera()}"></td>
                    <td th:text="${habi.getMinibar()}"></td>
                    <td th:text="${habi.getTipo().getTipo()}"></td>
                    <td>
                        <a th:href="@{habitaciones/{id}/edit(id=${habi.getId_habitacion()})}">Editar</a>
                        <a th:href="@{habitaciones/{id}/delete(id=${habi.getId_habitacion()})}" onclick="return confirm('¿Estas seguro de borrar esta habitación?')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>

        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>